@font-face {
    font-family: "Rajhandi";
    src: url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
        url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff");
        font-weight: 600;
}

@font-face {
    font-family: "Rajhandi";
    src: url("../assets/fonts/Rajdhani-Bold.ttf") format("ttf"),
        url("../assets/fonts/Rajdhani-Bold.woff") format("woff");
        font-weight: 700;
}

@font-face {
    font-family: "Rajhandi";
    src: url("../assets/fonts/Rajdhani-Regular.ttf") format("ttf"),
        url("../assets/fonts/Rajdhani-Regular.woff") format("woff");
        font-weight: 400;
}

:root {
    --primary-color-1: #110f2a;
    --primary-color-2: #524dd0;
    --accent-color: #00ffec;
    --accent-color-2: #42c0b1;
    --accent-color-3: #2c8076;
    --gray-color: #f7f7f7;
    --black-color: #000;
    --white-color: #fff;
    --border-basic: solid 1px var(--black-color);
    --border-radius: 0.3rem;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Rajhandi, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: var(--black-color);
}

body {
    height: 100vh
}

:focus {
    outline: 2px solid var(--accent-color);
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Header met logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 5.25em;
    width: 100%;
    background: var(--primary-color-2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.logo-top {
    display: flex;
    justify-content: flex-start;
    height: 4rem;
    width: auto;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding-top: 0.1em;
    padding-bottom: 0.1rem;
    background: none;
    border: none;
    transition: 0.4s;
    color: var(--accent-color);
}

.hamburger-menu > img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    display: block;
}

.hamburger-menu:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Navigatie */
nav {
    display: none;
    width: 100%;
    height: fit-content;
    /* transition: top 300ms ease-in-out 300ms; */
}

nav.visible {
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    padding-left: 0;
}

.menu-item {
    display: flex;
    list-style: none;
    border: var(--border-basic);
    width: 100%;
    height: 3rem;
    align-items: center;
    padding-left: 2rem;
    transition: 0.5s;
}

.menu-item:hover {
    color: var(--primary-color-2);
    font-weight: bold;
    cursor: pointer;
}

.menu-item:first-of-type {
    color: var(--black-color);
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu-item:first-of-type:hover {
    color: var(--black-color);
    font-weight: 600;
    cursor: auto;
}

.close-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: 2rem;
    width: fit-content;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: normal;
    transition: 0.5s;
    gap: 0.5rem;
}

.close-menu:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.close-menu > img {
    height: 1.5rem;
    width: 1.5rem;
}

/* Main */
section {
    height: fit-content;
    padding: 1rem;
    margin-left: 1em;
    margin-right: auto;
}

h1 {
    font-size: 2em;
    color: var(--black-color);
    line-height: 1;
    margin-bottom: 0.5rem;
}

/* Formulier */
fieldset {
    border: none;
    padding: 0;
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
}

legend {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

label {
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
}

label:first-of-type {
    margin-top: 0;
}

select {
    width: 10rem;
    border: var(--border-basic);
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type=date], [type=time] {
    width: 6rem;
    border: var(--border-basic);
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type=text] {
    padding-left: 0.5rem;
    border: var(--border-basic);
    border-radius: var(--border-radius);
    max-width: 5rem;
    cursor: text;
}

.submit-button {
    height: 2.5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    font-weight: 600;
    transition: 0.5s;
}

.submit-button:hover {
    scale: 1.1;
    cursor: pointer;
}

.input-invalid {
    background-color: #fba5a4;
    color: red;
}

/* Pop-up */
dialog {
    height: 70vh;
    width: 70vw;
    margin-inline: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.close-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    font-weight: normal;
    transition: 0.5s;
    gap: 0.5rem;
    align-self: flex-end;
}

.close-popup > img {
    height: 1.5rem;
    width: 1.5rem;
}

dialog p {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.check-icon {
    width: 7rem;
    height: 7rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 100%;
    background-color: var(--primary-color-1);
    padding: 1rem 2rem;
    /* top: auto;
    bottom: 0; */
}

.logo-bottom {
    align-self: center;
    height: 3rem;
    width: auto;
}

a.links-site:hover {
    background-color: var(--accent-color);
}

.rights {
    display: block;
    text-align: center;
    margin-bottom: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-rajhandi);
    color: var(--white-color);
}

.rights-links {
    color: var(--white-color);
}


@media screen and (min-width:520px) {
    header {
        box-shadow: none;
    }

    nav {
        display: block;
        border: var(--border-basic);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    .hamburger-menu {
        display: none;
    }

    .menu {
        flex-direction: row;
        padding-left: 2rem;
        gap: 3rem;
    }

    .menu-item {
        border: none;
        padding: 0;
        width: auto;
    }

    .menu-item:first-of-type {
        padding: 0;
        font-size: 1.2rem;
    }

    .close-menu {
        display: none;
    }

    dialog {
        width: 50%;
        height: 50%;
    }
    /* .check-icon {
        width: 12rem;
        height: 12rem;
    } */
    
    .logo-bottom {
        justify-self: flex-start;
        margin-left: 0;
        margin-right: auto;
    }
}